<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.henggu.factorytest"
    android:sharedUserId="android.uid.system"
    android:versionCode="1"
    android:versionName="1.0">


    <uses-permission android:name="android.permission.HI_SYSTEM_MANAGER_SERVICE" />
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MASTER_CLEAR" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".HgApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".FunctiontestActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".BurnIdActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>

        <activity
            android:name=".IperfActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <activity
            android:name=".SocketActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <activity
            android:name=".ProofActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <receiver android:name=".WifiToolsReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.henggu.factorytest.WIFI_TOOLS"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".FactoryReportReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.henggu.factorydatareport.CHECK_STATION"/>
                <action android:name="com.henggu.factorydatareport.UPDATE_STATUS"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>